
* {
	box-sizing: border-box;
}


html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
  

body {
	font-family: "Ubuntu Light";
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.wrapper {
	overflow: hidden;
}

.container {
	width: 940px;
}

img {
	vertical-align: middle;
}

//Headlines
.section_headline {
	font-family: Gagalin;
	font-size: 72px;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 85px;
	margin: 0;
}

.section_headline--yellow {
	color: #f9b43b;
}

.section_headline--black {
	color: #2f3234;
}

.section_headline--white {
	color: white;
}

.headline_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}


ul {
	padding: 0;
	margin: 0;
	li {
		list-style: none;
	}
}

a {
	text-decoration: none;
	color: #fff;

}

.page_section {
	height: 100vh;
	min-height: 650px;
	display: flex;
	align-items: center;
	justify-content: center
}

//Order buttons
.order_btn {
	background-color: #e45028;
	border-radius: 5px;
	padding: 10px 18px;
	transition: all .3s ease;
	text-transform: uppercase;
	&:hover {
		background-color: #c1401e;
	}
}

.section_content {
	display: flex;	
}

