.shipment_screen {
	background-image: url(../img/content/shipment/shipment-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.section_content--shipment_screen {
	flex-direction: column;
}

.section_headline--shipment {
	text-align: center;
	margin-top: 145px;
}

.order__form {
	margin-left: -5%;
}

.order__form-tag {
	display: flex;
}

.order__form-col {
	width: 45%;
	margin-left: 5%;
}

.order__form-row {
	margin-bottom: 16px;
}

.order__form-row_double {
	margin-bottom: 20px;
}

.order__form-row_double .order__form-block {
    float: left;
    width: calc(100% / 2 - 20px);
    margin-left: 20px;
}

.order__form-block {
    display: block;
}

.order__form-label {
	margin-bottom: 17px;
	font-family: "Ubuntu Light";
	color: #fff;
	font-size: 14px;
}

.order__form-input {
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #d1cfcb;
    border-radius: 5px;
    width: 100%;
}

.order__form-row {
    margin-bottom: 16px;
}

.order__form-row_quatro {
    margin-left: -20px;
}

.order__form-row_quatro .order__form-block {
    float: left;
    width: calc(100% / 4 - 20px);
    margin-left: 20px;
}


.order__form-col {
    float: left;
    width: 45%;
    margin-left: 5%;
}

.order__form-input_textarea {
    height: 110px;
}

.order__radio {
    position: relative;
    white-space: nowrap;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

.order__radio-elem {
    position: absolute;
    top: 0;
    left: -9999px;
}

.order__radio-fake {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.order__radio-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: #fff;
    margin-left: 10px;
}

.order__radio_checkbox .order__radio-fake {
    border-radius: 0px;
}

.order__form-button {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    border: 0;
    background: #e35028;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 15px;
    cursor: pointer;
}



.order__form-button_reset {
    padding-left: 0;
    padding-right: 0;
    text-transform: none;
    background: transparent;
}





