.team_screen {
	background-image: url(../img/content/team/team_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.team_wrapper {
	width: 48.9361702%;
	opacity: 0.93;
	background-color: #2f3234;
	margin-left: auto;
	height: 100vh;
}

.section_content__team {
	margin-top: 100px;
	margin-left: 80px;
}

.team_list {
	margin-top: 80px;
}

.team_list__link {
	color: white;
	font-family: "Gagalin Regular";
	font-size: 14px;
	font-weight: 400;
}

