.team_screen {
	background-image: url(../img/content/team/team_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.team_wrapper {
	width: 48.9361702%;
	opacity: 0.93;
	background-color: #2f3234;
	margin-left: auto;
	height: 100vh;
	min-height: 650px;
}

.section_content__team {
	margin-top: 100px;
	margin-left: 80px;
}

.team_list {
	margin-top: 70px;
}

.team_list__item {
	margin-bottom: 26px;
	position: relative;
}

.team_list__link {
	color: white;
	font-family: "Gagalin Regular";
	font-size: 14px;
	font-weight: 400;
	&:before {
		content: "";
		display: block;
		position: absolute;
		left: -18px;
		top: 8px;
		width: 0;
		height: 0;
		border-top: 7px solid #f9b43b;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
		border-bottom: 0px solid transparent;
		transform: rotate(0deg);
		transition: .3s;
	}
}

.team_list__photo {
	width: 100px;
	height: 100px;
	background: url(../img/content/team/member.jpg) center center no-repeat;
	border-radius: 50%;
}

.team_list__sescription {
	display: none;
	margin-top: 12px;
}

.team_list__item--active .team_list__sescription {
	display: flex;
}

.team_list__item--active .team_list__link {
	color: #f9b43b;
	&:before {
		transform: rotate(-180deg);
	}
}


.team_list__text {
	color: white;
	font-size: 14px;
	margin-left: 20px;
	width: 40%;
}

.team_list__headline {
	margin-top: -6px;
}

.team_list__headline_description {
	margin-top: 10px;
}

.team_list__headline {
	font-family: "Ubuntu Bold";
}

.team_list__headline_description {
	font-family: "Ubuntu Light";
}



















